body{
margin: 0;
background-image: url('test.jpg');
}
.container{
    margin: 5%;
    text-align: center;
}
.day {

    border:1px solid purple;
    text-align: center;
    font-size: 5vw;
    font-family: 'Nosifer', sans-serif;
    color: darkred;
    justify-content: center;
    margin: 5%;
    cursor: default;
    transform-origin: top;
    transition:all 0.7s cubic-bezier(0.42, 0, 0.22, 1.34);
    background: rgb(255, 192, 203, 1);
}



#advType{
    border-radius: 65px;
}




.doorOpen
{
    transform: perspective(900px) translateZ(0px) translateX(0px) translateY(0px) rotateX(75deg);
}




#app-calendar{
    margin-top: 1%;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 1fr);
background: rgb(255, 192, 203, 0.5);

}

.day:hover {
    background-color: rgba(255,255,255,1);
}

.backDoor:nth-child(even) {
   rotate: -5deg;
   margin-right: 10%;
  }

  .backDoor:nth-child(odd) {
    rotate: 5deg;
   }
 

#title{
font-family: 'Playpen Sans', cursive;
color: palevioletred;
}

#advType{
    background-color: unset;
}

.tapeOn{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(239, 239, 239, 0.8);
    height: 5%;
    width: 75%;
}
.doorOpen .tapeOn{
    /* background: green;
    transition:all 0.7s cubic-bezier(0.42, 0, 0.22, 1.34)
 */

}

.tapeOff{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(239, 239, 239, 1);
    height: 7%;
    width: 75%;
}

label, #advType{
    font-family: 'Playpen Sans', cursive;
    color: darkred;
}

/* background-image: url(https://m.media-amazon.com/images/M/MV5BNmE5NWQyYjktMmMzYi00YjY2LWFmNTUtMWQyMzcwNWM2NWYzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL75_UX380_CR0,0,380,562_.jpg);
object-fit: fill;
    background-size: contain;
    background-repeat: no-repeat; */

    .movieImg{
        position: absolute;
        height: 80%;
        z-index: -1;
        left: 25%;
    }